.Footer{
   width: 100%;
   background-color: #9a2c29;
   min-height: 500px;
   /* z-index: -1; */
}
.footerlogo {
    height: 300px;
    width: 300px;
   
   background-size: 300px;
   margin-top: 30px;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
   
   background-image:url("../Assets/Everywhere/character.png");
}

.FooterContainer{
    display: grid;
    grid-template-columns:34% 15% 13% 36%;
    width: 86%;
    gap: 20px;
    align-items: center;
    margin: auto;
    color: white;
}

.Faddress{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 14px;
}

 ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 15px;
}


.footerDivs-2Head ,.footerDivs-4Head{
    font-weight: bold;
    font-size: 22px;
}

.FooterPara p{
  line-height: 23px;
  margin-top:20px ;
}

.FooterLogoInfo{
    background-color:#fab115;
    color: #9a2c29;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.FooterLogoInfo:hover{
    background-color: black;
    color: white;
}

.WebContact{
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

.WebContactIcons {
    background-color: #fab115;
    color: #9a2c29;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.WebContactIcons:hover{
    background-color: black;
    color: white;
}

.FooterLogoInfoAA{
    background-color: #fab115;
    width: 60px;
    height: 30px;
    color: #9a2c29;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.FooterLogoInfoAA:hover{
    background-color: black;
    color: white;
}

.ProduceBy{
    background-color: #fab115;
    width:100%;
    height: 70px;
}



.ProduceContaint{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 83%;
    gap: 300px;
    color: #9a2c29;
    margin: auto;
    justify-content: space-between;
   align-items: center;
}

.ProduceContaint div{
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: #9a2c29;
}


@media screen and (max-width: 960px) {
    .FooterContainer{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: auto;
        width: 86%;
        /* gap: 20px; */
        align-items: center;
        margin: auto;
        color: white;
    }
    .Footer{
        width: 100%;
        background-color: #9a2c29;
        /* min-height: 650px; */
        padding-bottom: 20px;
        /* z-index: -1; */
     }

     .ProduceContaint{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 83%;
       
       
    }

    .vaibhav{
        display: none;
    }
}